.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dcd3d3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #89bbf5;
    text-shadow: 2px 2px #ddd;
    margin-bottom: 2rem;
  }
  
  .button-start {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #091727;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
  